.container {
    display: flex;
    width: 100vw;
    height: 60px;
    background-color: rgb(230, 230, 230);
    /* max-width: 1200px;
    min-width: 800px; */
    border : 1px solid #ddd;
    margin : 0 auto;
    align-items: center;
    justify-content: space-between;
    padding : 0 20px;
}